.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li{
	display: inline;
	padding: 10px;
}
.list-inline i{
	font-size: 60px;
	color: rgb(180, 180, 180);
}
.list-inline i:hover{
	color: black
}

.list-inline{
	margin: auto;